image:
  repository: ghcr.io/eodcgmbh/coverage-maps/coverage_maps
  tag: 2025.12.01
  pullPolicy: IfNotPresent

service:
  port: 4000

stac:
  service: 
    externalName: ""
    port: 5000

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

env:
  API_BASE_URL: ""