binderhub-service:
  networkPolicy:
    enabled: false
  config:
    BinderHub:
      auth_enabled: false
      use_registry: true
      cors_allow_origin: '*'
      base_url: /services/binder
jupyterhub:
  hub:
    networkPolicy:
      enabled: false
    image:
      name: ghcr.io/eodcgmbh/fancy_jhub
      tag: latest

    config:
      BinderSpawner:
        auth_enabled: false
        cors_allow_origin: '*'
      JupyterHub:
        redirect_to_server: false 
