apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
spec:
  type: ExternalName
  externalName: {{ .Values.service.externalName }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
